[Unit]
Description=Lullablock Device Listener
After=network.target

[Service]
ExecStart=/usr/bin/python3 -u hello-device.py
WorkingDirectory=/home/pi/lullablock
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
