<html>
<head>

<link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">

  <link rel="stylesheet" href='/static/style.css' />
  <script type="text/javascript">
  // a bunch of stuff defined by the server
  var timerPercentageOnLoad = 0
  var timerRemaining={{remaining}};
  var timerDurations={{timerDurations}};
  var timerLength={{timerLength}};
  timerPercentageOnLoad = (timerDurations[0] - timerRemaining) / timerDurations[0];
  var timerPercentage = timerPercentageOnLoad;

  // set up a bunch of variables we will re-use
  var divisions, margin, reps, w, h, vert_units_per_leg, vert_units_total, horz_units_per_leg, horz_units_total, total_units, line_thickness, v_scale_factor;

  // set these to define the UI
  divisions = 90;
  line_thickness = 5;

  // set up the basic functionality
  window.addEventListener("load", resizeCanvas);
  window.addEventListener("resize", resizeCanvas);
  window.addEventListener("load", setBackground);

  function setBackground(){
    var d = new Date();
    var n = d.getDay();
    var days = ["monday","tuesday","wednesday","thursday","friday","saturday","sunday"];
    document.querySelector("html").classList.add(days[n]);
    window.scrollTo(0,1)
  }

  timer = setTimeout(redrawTimer,500);
  timerRemaining -= 0.5;

  function redrawTimer() {
    // redraw
    timerRemaining -= 0.5;
    timerPercentage = Math.min(1,(timerDurations[0] - timerRemaining) / timerDurations[0]);

    // update the text
    document.querySelector("#timerRemaining").innerHTML = "Remaining: " + fancyTimeFormat(timerRemaining);
    var ending = new Date();
    ending.setSeconds(ending.getSeconds() + timerRemaining);
    now = new Date();
    snippet = (ending < now) ? "Ended at " : "Ending at ";
    document.querySelector("#timerEnding").innerHTML = snippet + `${ending.getHours()}`.padStart(2,'0') + ":" + `${ending.getMinutes()}`.padStart(2, '0');

    // redraw the whole canvas including snake
    resizeCanvas();
    timer = setTimeout(redrawTimer,500);
    if (timerPercentage >= 1.0) {
      clearTimeout(timer)
    }
  }

  function resizeCanvas() {
    // clear the SVG because we're on a new loop - who dis?
    document.querySelector('#durationSnake').innerHTML = "";
    var canvasWidth = window.innerWidth;
    var canvasHeight = window.innerHeight/2;
    v_scale_factor = Math.floor(canvasHeight / divisions);
    document.querySelector('#durationSnake').style.width = canvasWidth + "px";
    document.querySelector('#durationSnake').style.height = canvasHeight + "px";

    margin = canvasWidth/divisions;
    v_scale_factor = Math.floor(window.innerHeight/2/margin)-2;
    w = margin;
    h = margin * v_scale_factor;
    reps = divisions-2;
    vert_units_per_leg = v_scale_factor;
    vert_units_total = vert_units_per_leg * (divisions-1);
    horz_units_per_leg = 1;
    horz_units_total = horz_units_per_leg * (divisions-2);

    total_units = vert_units_total + horz_units_total;

    // draw the snake curve
    var svgPath = [`M ${margin*(divisions-1)}, ${margin}`]

    for (i=1; i<reps; i+=2){
      svgPath.push(`L ${margin*(divisions-i)}, ${margin+h}`)
      svgPath.push(`L ${margin*(divisions-i-1)}, ${margin+h}`)
      svgPath.push(`L ${margin*(divisions-i-1)}, ${margin}`)
      svgPath.push(`L ${margin*(divisions-i-2)}, ${margin}`)
    }
    // the thickness is added here because we don't know how to setTimer
    // the stroke-lineCap = square using javascript >:(
    svgPath.push(`L ${margin}, ${margin+h}`)

    var pathEl = document.createElementNS("http://www.w3.org/2000/svg", "path");
    pathEl.setAttribute('d',svgPath.join(" "));
    pathEl.style.stroke = "rgba(0,0,0,.1)"
    pathEl.style.strokeWidth = line_thickness;
    pathEl.style.fill = "none";
    document.querySelector('#durationSnake').appendChild(pathEl);


    // draw the snake curve bright!
    svgPath = [`M ${margin*(divisions-1)}, ${margin}`]
    unitsDrawn = 0
    snake = snakeCurve(timerPercentage);
    for (i=1; i<reps; i+=2){
        if (unitsDrawn < snake.units-v_scale_factor) {
          svgPath.push(`L ${margin*(divisions-i)}, ${margin+h}`)
          unitsDrawn += v_scale_factor;
        } else { break; }
        if (unitsDrawn < snake.units-1) {
          svgPath.push(`L ${margin*(divisions-i-1)}, ${margin+h}`)
          unitsDrawn += 1;
        } else { break; }
        if (unitsDrawn < snake.units-v_scale_factor) {
          svgPath.push(`L ${margin*(divisions-i-1)}, ${margin}`)
          unitsDrawn += v_scale_factor;
        } else { break; }
        if (unitsDrawn < snake.units-1) {
          svgPath.push(`L ${margin*(divisions-i-2)}, ${margin}`)
          unitsDrawn += 1;
        } else { break; }
    }
    svgPath.push(`L ${snake.x}, ${snake.y}`)

    pathEl = document.createElementNS("http://www.w3.org/2000/svg", "path");
    pathEl.setAttribute('d',svgPath.join(" "));
    pathEl.style.stroke = "#FFF8D5"
    pathEl.style.strokeWidth = line_thickness;
    pathEl.style.fill = "none";
    document.querySelector('#durationSnake').appendChild(pathEl);

    // place the text markers
    var markers = [...document.querySelectorAll('#durationMarkers div')].map(function(e) {
      var coords = snakeCurve((timerDurations[0] - (parseInt(e.innerHTML)*60)) / timerDurations[0]);
      e.innerHTML = parseInt(e.innerHTML)
      e.style.left = coords.x - e.offsetWidth/2  + "px";
    });
    document.querySelector('#timer').style.left = margin-line_thickness/2 + "px";
    document.querySelector('#track').style.left = margin-line_thickness/2 + "px";
    document.querySelector('#branding').style.right = margin-line_thickness/2 + "px";

    // draw the dot!
    pathEl = document.createElementNS("http://www.w3.org/2000/svg", "circle");
    pathEl.setAttribute('cx',snake.x);
    pathEl.setAttribute('cy',snake.y);
    pathEl.setAttribute('r',line_thickness * 1.1);
    pathEl.style.stroke = "none"
    pathEl.style.fill = "#FFF8D5";
    document.querySelector('#durationSnake').appendChild(pathEl);
  }

  function snakeCurve(percentage){
    var canvasWidth = window.innerWidth;
    var l_units = 1 + v_scale_factor;
    var l_increments = Math.floor((percentage * total_units) / l_units);
    // set coords based on what we know
    var x = l_increments * margin;
    var y = margin;

    var even = (l_increments % 2 == 0) ? true : false;
    var remaining_units = (percentage * total_units) - (l_increments * l_units)

    if (remaining_units >= v_scale_factor) {
      // we're on horz
      var remaining_units_fine = remaining_units - v_scale_factor
      x += remaining_units_fine * margin
      if (even) {
        y += margin * v_scale_factor
      } else {
        //nothing
      }
    } else {
      // we're on vert
      if (even) {
        // console.log("going down from top")
        var remaining_units_fine = remaining_units / v_scale_factor;
        y += remaining_units_fine * margin * v_scale_factor;
      } else {
        // console.log("going up from bottom")
        var remaining_units_fine = remaining_units / v_scale_factor;
        y += h - (remaining_units_fine * margin * v_scale_factor);
      }
    }

    x = canvasWidth - margin - x;
    var units = (Math.min(1,percentage) * total_units)
    return {x: x, y: y, units: units}
  }

  function fancyTimeFormat(duration) {
    // Hours, minutes and seconds
    var hrs = ~~(duration / 3600);
    var mins = ~~((duration % 3600) / 60);
    var secs = ~~duration % 60;

    // Output like "1:01" or "4:03:59" or "123:03:59"
    var ret = "";

    if (hrs > 0) {
        ret += "" + hrs + ":" + (mins < 10 ? "0" : "");
    }

    ret += "" + mins + ":" + (secs < 10 ? "0" : "");
    ret += "" + secs;
    return ret;
  }

  ///////////////////////////////////////////////////////////////////////////

  function updateTimer(t){
    clearTimeout(timer);
    timerRemaining = t;
    redrawTimer()
  }

  function timerBop(){
    query = "api/timer"
    var xhr = new XMLHttpRequest();

    xhr.onreadystatechange = function () {
      var DONE = 4; // readyState 4 means the request is done.
      var OK = 200; // status 200 is a successful return.
      if (xhr.readyState === DONE) {
        if (xhr.status === OK) {
          if (parseInt(xhr.responseText) >= 0) {
            updateTimer(parseInt(xhr.responseText))
          }
        } else {
          console.log('Error: ' + xhr.status); // An error occurred during the request.
        }
      }
    };
    xhr.open('GET', '{{apiEndpointForWeb}}'+query);
    xhr.send(null);

    return false
  }

  ///////////////////////////////////////////////////////////////////////////

  function updateVolume(n){
    document.querySelector('#volumebuttons #level').innerHTML = n;
  }

  function volume(direction){
    if (direction=="up") {
      query = "api/volume/+1"
    } else if (direction=="down") {
      query = "api/volume/-1"
    }
    var xhr = new XMLHttpRequest();

    xhr.onreadystatechange = function () {
      var DONE = 4; // readyState 4 means the request is done.
      var OK = 200; // status 200 is a successful return.
      if (xhr.readyState === DONE) {
        if (xhr.status === OK) {
          updateVolume(xhr.responseText)
        } else {
          console.log('Error: ' + xhr.status); // An error occurred during the request.
        }
      }
    };
    xhr.open('GET', '{{apiEndpointForWeb}}'+query);
    xhr.send(null);

    return false
  }

  ///////////////////////////////////////////////////////////////////////////

  function toggleTrackList() {
    document.querySelector('#tracks').classList.toggle("hidden");
    return false
  }

  function switchTimerText(){
    var hiders = [...document.querySelectorAll("#timer div")].map(function(e) {
      e.classList.toggle("hidden");
    });
  }

  ///////////////////////////////////////////////////////////////////////////

  </script>
</head>
<body>
<div id="track" class="largetext"><a href="#" onclick="return toggleTrackList()"><b>{{track}}</b></a></div>
<div id="branding" class="largetext"><b>lullablock</b></div>

<div id="volumebuttons" class="smalltext">
<a href="/volume/down" onclick="return volume('down')">
  <svg width="152" height="152" viewBox="0 0 152 152" id="down">
    <circle cx="76" cy="76" r="76" fill="rgba(0,0,0,0.1)"/>
    <path d="M53.701 88.05V66.45H98.251V88.05H53.701Z" fill="white"/>
  </svg>
</a>
<a href="/volume/up" onclick="return volume('up')">
  <svg width="152" height="152" viewBox="0 0 152 152" id="up">
    <circle cx="76" cy="76" r="76" fill="rgba(0,0,0,0.1)"/>
    <path d="M66.4293 114.55V86.95H41.0793V69.25H66.4293V41.65H85.6293V69.25H110.979V86.95H85.6293V114.55H66.4293Z" fill="white"/>
  </svg>
</a>
<div id="level">{{volume}}</div>
</div>

<div id="bottom">
  <div id="timer" onClick="switchTimerText()">
    <div id="timerEnding" class="largetext">Ending</div>
    <div id="timerRemaining" class="largetext hidden">Remaining</div>
  </div>
  <svg id="durationSnake" onclick="return timerBop()">
  </svg>
  <div id="durationMarkers" class="smalltext">
  {% for d in timerDurations %}
  <div>{{d/60}}</div>
  {% endfor %}
  </div>
</div>

<div id="tracks" class="hidden">
  {% for track in tracks %}
  <p class="largetext"><a href="/tracks/play/{{track.filename}}">{{track.display_name}}</a></p>
  {% endfor %}
  <!--<p class="largetext closer"><a href="#" onclick="toggleTrackList()">👋</a></p>-->
  <a href="/volume/down" onclick="return toggleTrackList()">
    <svg width="152" height="152" viewBox="0 0 152 152" id="up">
      <circle cx="76" cy="76" r="76" fill="rgba(0,0,0,0.2)"/>
      <path d="M66.4293 114.55V86.95H41.0793V69.25H66.4293V41.65H85.6293V69.25H110.979V86.95H85.6293V114.55H66.4293Z" fill="white"/>
    </svg>
  </a>

</div>

<!--
<div class="volume"><a href="/volume/down">-</a></div>
<div class="volume"><a href="/volume/up" class="volume-up">+</a></div>

<h1>Volume: {{volume}}</h1>
<h1>{{timer_in_minutes}} minutes, unless you <a href="/timer/bop">Bop it</a></h1>
<small><a href="/start">😴</a></small>
<small><a href="/stop">🙉</a></small>
<h1>{{time}}</h1>


-->


</body>
</html>
